.navbar{
  position: relative;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
  padding: 0 2rem;

  .title{
    /* border: 1px solid red; */
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 2%;
  }
  ul{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    
    li{
      margin: 0 1rem;
      list-style: none;
    }
  }
  .right{
    display: flex;
    align-items: center;
    .profile-letter{
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #cd4e7a;
      border-radius: 50%;
      color: white;
      margin: 0px 10px;
      width: 30px;
      height: 30px;
    }
  }
  button{
    border-radius: 4px;
    border: none;
    height: 3rem;
    padding: 0 1.5rem;
    font-family: inherit;
    color: rgb(59, 59, 59);
    font-size: 1rem;
    font-weight: 900;
    background-color: rgb(250, 250, 250);
    outline: none;
    &:hover{
      background-color: rgb(235, 235, 235);
      color: black;
    }
  }
  #generate-btn-nav{
    color: white;
    background-color: #6C46DE;
    &:hover{
      opacity: .9;
      color: white;
      background-color: #6C46DE;
    }
  }
  .dropdown{
    display: none;
    position: absolute;
    overflow: hidden;
    top: 5.2rem;
    background: white;
    z-index: 1200;
    border-radius: 4px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.295);
    &.open{
      display: block;
    }
    ul{
      display: block;
      padding: 0;
      li{
        margin: 0;
        button{
          width: 100%;
          border-radius: 0;
          font-size: .8rem;
          &:hover{
            background-color: rgb(240, 240, 240);
            color: black;
          }
        }
      }
    }
  }
}